---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: schemapilots.schemapilot.schemapilot.com
spec:
  group: schemapilot.schemapilot.com
  names:
    kind: SchemaPilot
    listKind: SchemaPilotList
    plural: schemapilots
    singular: schemapilot
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: SchemaPilot is the Schema for the schemapilots API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SchemaPilotSpec defines the desired state of SchemaPilot.
            properties:
              connectionString:
                properties:
                  key:
                    type: string
                  name:
                    type: string
                required:
                - key
                - name
                type: object
              databaseType:
                enum:
                - Oracle
                - SQLServer
                type: string
              repository:
                description: RepositorySpec defines the repository configuration.
                properties:
                  branch:
                    type: string
                  owner:
                    type: string
                  repo:
                    type: string
                  token:
                    properties:
                      key:
                        type: string
                      name:
                        type: string
                    required:
                    - key
                    - name
                    type: object
                  url:
                    type: string
                required:
                - token
                type: object
              schemaFiles:
                items:
                  properties:
                    name:
                      type: string
                    objectType:
                      enum:
                      - Table
                      - View
                      - Procedure
                      - Function
                      - Trigger
                      - Index
                      - Grant
                      - Synonym
                      - PackageHeader
                      - PackageBody
                      - Other
                      type: string
                    version:
                      type: string
                  type: object
                type: array
            required:
            - connectionString
            - repository
            type: object
          status:
            description: SchemaPilotStatus defines the observed state of SchemaPilot.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
